@font-face{
    src: url(../fonts/Montser.ttf);
    font-family: "Mt";
}
@font-face{
    src: url(../fonts/Open.ttf);
    font-family: "Op";
}
@font-face{
    src: url(../fonts/fontello.ttf);
    font-family: "Ft";
}
html{
    font-size: 10px;
}
body{
    margin: 0;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
.preload{
    width: 100%;
    height: 98vh;
    background-image: url(../img/preload.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__maintitle{
        font-family: 'Mt';
        font-size: 7rem;
        color: #60606e;
    }
    &__secondtitle{
        margin-top: 4rem;
        font-family: 'Mt';
        font-size: 4rem;
        color: #60606e;
    }
}
.header{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/head.png);
    &__title{
        transition: 0.5s ease-in-out;
        margin: 0 auto;
        width: 44%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__maintitle--little{
        padding: 0.5rem;
        background-color: #7beec7;
        margin-top: 17rem;
        margin-bottom:0;
        text-align: center;
        font-family: "Mt";
        font-size: 1.8rem;
        color: #60606e;
    }
    &__maintitle{
        text-align: center;
        font-family: "Mt";
        font-size: 4.8rem;
        color: #60606e;
        border: 8px solid #60606e;
        padding: 2rem 3.5rem;
        margin-top: 0;
        margin-bottom: 3rem;
    }
    &__secondtitle{
        margin: 0rem 0rem 12rem;
        text-align: center;
        font-family: "Op";
        font-size: 1.6rem;
        color: #60606e;
    }
    &__img{
        transition: 1s ease-in-out;
        position: absolute;
        margin-left:8rem; 
    }
    &__content{
        transition: 0.5s ease-in-out;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__about{
        position: relative;
        left: 50rem;
        width: 44%;
        margin-left: 12rem;
    }
    &__maintitle--block{
        position: relative;
        width: 50rem;
    }
    &__maintitle--history{
        position: relative;
        z-index: 1;
        text-align: start;
        font-family: "Mt";
        font-size: 3rem;
        color: #60606e;
        margin: 3rem 0rem 3rem;
    }
    &__button{
        position: relative;
        top: 2rem;
        left: 35rem;
        font-family: "Mt";
        font-size: 1.4rem;
        color: white;
        padding: 1.5rem 4rem;
        background-color: #7beec7;
        border: none;
        border-radius: 2px;
    }
}
.history-about{
    margin: 0rem 0rem 3rem;
    text-align: start;
    font-family: "Op";
    font-size: 1.6rem;
    color: #60606e;
}
.header__maintitle--block:before{
    z-index: 0;
    position: absolute;
    bottom:0.5rem;
    background-color: #7beec7;
    width: 12.7%;
    height: 2rem;
    margin-left: 3px;
    display: block;
    content:"";
}
.navbar{
    transition: 1s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__burger{
        font-family: "Ft";
        font-size: 4rem;
        color: #60606e;
        padding: 1rem 1rem 0rem 0rem;
    }
    &__logo{
        font-family: "Mt";
        font-size: 2rem;
        color: #60606e;
    }
}
.aboutus{
    &__title{
        transition: 1s ease-in-out;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__maintitle{
        position: relative;
        z-index: 1;
        text-align: center;
        font-family: "Mt";
        font-size: 3rem;
        color: #60606e;
        margin-top: 23rem;
        margin-bottom: 3rem; 
    }
    &__maintitle--block{
        position: relative;
        &:before{
            z-index: 0;
            position:absolute;
            bottom:3rem;
            background-color: #7beec7;
            width: 31%;
            height: 2rem;
            display: block;
            content:"";
        }
    }
    &__secondtitle{
        margin: 0rem 0rem 8rem;
        text-align: center;
        font-family: "Op";
        font-size: 1.6rem;
        color: #60606e;
    }
    &__content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        margin-bottom: 12rem;
    }
    &__items{
        width: 60%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    &__item{
        width: 45%;
    }
    &__icon{
        font-family: 'Ft';
        font-size:3rem;
        color: #999999;
    }
    &__text--bold{
        font-family: "Mt";
        font-size: 1.8rem;
        color: #60606e;
    }
    &__text{
        font-family: "Op";
        font-size: 1.6rem;
        color: #999999;
    }
    &__image{
        transition: 0.5s ease-in-out;
        margin-top: 4rem;
        height: 100%;
    }
}

.blue{
    background-color: #7beec7;
}

.gallery{
    &__content{
        margin-bottom: 12rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__title{
        transition: 0.5s ease-in-out;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__maintitle{
        position: relative;
        z-index: 1;
        text-align: center;
        font-family: "Mt";
        font-size: 3rem;
        color: #60606e;
        margin-bottom: 3rem;
        
    }
    &__maintitle--block{
        position: relative;
        &:after{
            z-index: 0;
            position:absolute;
            bottom:3rem;
            background-color: #7beec7;
            width: 27%;
            height: 2rem;
            display: block;
            content:"";
        }
    }
    &__secondtitle{
        margin: 0rem 0rem 8rem;
        text-align: center;
        font-family: "Op";
        font-size: 1.6rem;
        color: #60606e;
    }
    &__menu{
        transition: 0.5s ease-in-out;
        width: 14.5%;
    }
    &__title--main{
        margin: 1rem 0rem;
        font-family: "Mt";
        font-size: 3rem;
        color: #60606e;
    }
    &__title--menu{
        cursor: pointer;
        font-family: "Mt";
        font-size: 1.4rem;
        color: #60606e;
        padding: 0.2rem 1.5rem;
        margin:1rem 0rem ;
        &:hover{
            background-color: #7beec7;
            border-radius:3px; 
        }
    }
    &__text{
        margin-top: 3rem;
    }
   &__images{
       transition: 1s ease-in-out;
       width:80%;
       display: grid;
       height: 100rem;
       grid-template-columns: repeat(6,1fr);
       grid-template-rows: repeat(20,1fr);
       grid-gap: 20px; 
   }
   &__image--big{
      grid-row: span 8;
      grid-column: span 2;
   } 
   &__image--small{
      grid-row: span 4;
      grid-column: span 2;
   }
   &__image--premedium{
       grid-row: span 5;
       grid-column: span 2;
   }
   &__image--medium{
       grid-row: span 6;
       grid-column: span 2;
   }
   &__image--one{
       background-image: url(../img/gallery1.png);
       background-size: cover;
       background-position: center;
   }
    &__image--two{
        background-image: url(../img/gallery2.png);
        background-size: cover;
        background-position: center;
}
    &__image--three{
        background-image: url(../img/gallery3.png);
        background-size: cover;
        background-position:  center;
}
    &__image--four{
        background-image: url(../img/gallery4.png);
        background-size: cover;
        background-position: center;
}
    &__image--five{
        background-image: url(../img/gallery5.png);
        background-size: cover;
        background-position: center;
}
    &__image--six{
        background-image: url(../img/gallery8.png);
        background-size: cover;
        background-position: center;
}
 &__image--seven{
        background-image: url(../img/gallery7.png);
        background-size: cover;
        background-position: center;
}
    &__image--eight{
        background-image: url(../img/gallery6.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}
    &__image--nine{
        background-image: url(../img/gallery9.png);
        background-size: cover;
        background-position: center;
}
}
.newslatter{
    background-color: #7beec7;
    &__content{
        padding: 3rem 0rem 5rem;
        display: flex;
        flex-direction: row;
    }
    &__title{
        transition: 0.5s linear;
        width: 50%;
    }
    &__maintitle{
        font-family: 'Mt';
        font-size: 3rem;
        color: white;
        margin-right: 2.5rem;
    }
    &__button{
        font-family: 'Mt';
        font-size: 1.4rem;
        color: #7beec7;
        background-color: white;
        border: none;
        border-radius: 2px;
        padding: 1.5rem 3.5rem;
    }
    &__form{
        transition: 0.5s linear;
        width: 50%;
        background-color: white;
        padding: 1rem;
        margin-top: 3rem;
        margin-left: 2.5rem;
    }
    &__text{
        padding-left: 3rem;
        font-family: 'Mt';
        font-size: 2.4rem;
        color: #60606e;
    }
    &__text--little{
        margin-left: 3rem;
        font-family: 'Op';
        font-size: 1.6rem;
        color: #60606e;
    }
    &__button--blue{
        font-family: 'Mt';
        font-size: 1.4rem;
        color: white;
        background-color: #7beec7;
        padding: 1rem 3rem;
        border: none;
        border-radius: 2px;
    }
    &__form--mail{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__input{
        margin-left: 3rem;
        width: 60%;
        padding: 1rem;
        border: none;
        font-family: 'Mt';
        font-size: 1.4rem;  
    }
}
.footer{
    &__content{
        padding: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        font-family: 'Op';
        font-size: 1.4rem;
        color: #999999;
        text-decoration: none;
        padding: 0rem 2rem;
    }
    &__created{
        font-family: 'Op';
        font-size: 1.4rem;
        color: #999999;
    }
    &__icon{
        font-family: 'Ft';
        font-size: 1.6rem;
        color: #999999;
        padding: 0rem 1rem 3rem;
    }
    &__icons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}
.sidebar{
    width: 5rem;
    height: 100%;
    position: fixed;
    left: 0rem;
    top: 0rem;
    background-color:rgba($color: #000000, $alpha: 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__button{
        background-color: gray;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 2px solid white;
        margin-top: 4rem;
    }
}
@media(max-width: 1160px){
    .container{
        width: 90%;
    }
    .header{
        height: auto;
        transition: 1s ease-in-out;
        &__about{
            position: relative;
            left: 48%;
            margin-left: 5rem;
        }
        &__img{
            width: 50%;
            margin-left: 0rem;
        }
        &__button{
            position: relative;
            left: 50%;
        }
    }
    .aboutus{
        &__items{
            width: 40%;
        }
        &__item{
            width: 90%;
        }
        &__image{
            margin-top: 35rem;
            width: 60%;
            height: 100%;
        }
    }
    .gallery{
        &__title--block{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        &__title--menu{
            margin: 2rem 0rem;
        }
        &__title--main{
            margin: 0rem 1rem;
        }
        &__text{
            margin-top: 2rem;
        }
        &__menu{
            width: 100%;
            justify-content: center;
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
        }
        &__content{
            flex-direction: column;
        }
        &__images{
            width: 100%;
        }
    }
    .footer{
        &__container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        &__content{
            flex-wrap: wrap;
            width: 60%;
        }
        &__created{
            padding: 2rem;
        }
        &__icons{
            padding-top: 3rem;
        }
    }
}
@media(max-width: 790px){
    .container{
        width: 90%;
    }
    .header{
        &__content{
            position: static;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__about{
            position: static;
            margin-left: 0rem;
            width: 70%;
         }
         &__img{
             position: static;
             width: 70%;
             margin-left: 0rem;
         }
    }
    .aboutus{
        &__items{
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        &__item{
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__image{
            display: none;
        }
        &__text{
            margin: 0.5rem;
        }
        &__icon{
            margin: 2rem 0rem 1rem;
        }
    }
    .gallery{
        &__images{
            height: 170rem;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: repeat(36,1fr);
            grid-gap: 20px;
        }
        &__image--big{
           grid-row: span 14;
           grid-column: span 3;
        } 
        &__image--small{
           grid-row: span 4;
           grid-column: span 3;
        }
        &__image--premedium{
            grid-row: span 5;
            grid-column: span 3;
        }
        &__image--medium{
            grid-row: span 6;
            grid-column: span 3;
        }
    }
    .newslatter{
        &__content{
            flex-wrap: wrap;
        }
        &__title{
            width: 90%;
        }
        &__form{
            width: 90%;
            margin: 4rem 0rem 0rem 0rem;
        }
    }
    .footer{
        &__menu{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__title{
            font-size: 1.8rem;
            margin-top: 1rem;
        }
        &__icons{
            padding: 3rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
        }
        &__icon{
            margin-top: 1rem;
            padding-bottom: 0.5rem;
        }
    }
}
@media(max-width: 550px){
    html{
        font-size: 8px;
    }
    .preload__maintitle{
        font-size: 4rem;
        text-align: center;
    }
    .header{
        &__maintitle--little{
            margin-top: 6rem;
        } 
        &__secondtitle{
            margin-bottom: 6rem;
        }
        &____maintitle--block{
            width: 30rem;  
        }
    }
    .aboutus{
        &__maintitle{
            margin-top: 8rem;
        }
        &__secondtitle{
            margin-bottom: 4rem;
        }
        &__content{
            margin-bottom: 4r;
        }
    }  
    .gallery{
        &__maintitle{
            margin-top:2rem;
        }
    }
    .newslatter{
        &__form--mail{
            flex-direction: column;
            align-items: center;
        }
        &__input{
            width: 90%;
        }
        &__button--blue{
            margin: 1rem 0rem;
        }
    }
}
@media(max-width: 360px){
    .header{
        &__maintitle{
            font-size: 4rem;
        }
        &__maintitle--history{
            font-size: 2.4rem; 
        }
    }
    .aboutus{
        &__maintitle{
            font-size: 2.4rem;
        }
    }
    .gallery{
        &__maintitle{
            font-size: 2.4rem;
        }
        &__title--main{
            font-size: 2.4rem;
        }
        &__images{
            height: 100%;
            grid-template-columns: repeat(6,1fr);
            grid-template-rows: repeat(40,1fr);
            grid-gap: 20px;
        }
        &__image--big{
            grid-row: span 18;
            grid-column: span 6;
        } 
        &__image--small{
            grid-row: span 8;
            grid-column: span 6;
        }
        &__image--premedium{
             grid-row: span 9;
             grid-column: span 6;
        }
        &__image--medium{
             grid-row: span 10;
             grid-column: span 6;
        }
    }
}

